[submodule "glue-factory"]
	path = glue-factory
	url = https://github.com/hudsonmartins/glue-factory
[submodule "modvo"]
	path = modvo
	url = git@github.com:larocs/modvo.git
[submodule "TimeSformer"]
	path = TimeSformer
	url = https://github.com/hudsonmartins/TimeSformer.git
